@tailwind base;
@tailwind components;
@tailwind utilities;


 /* =====================================
    Customized Scroll Bar for whole page
 =========================================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #212224; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fc5b3f; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }